<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="<%= ['admonitionblock',(attr :name),role].compact * ' ' %>">
<% if attr? :name, 'note' %>
<div class="alert alert-info" title="<%= @caption %>"><i class="fa fa-info-circle"></i> <b>Note:</b>
<% elsif attr? :name, 'tip' %>
<div class="alert alert-success" title="<%= @caption %>"><i class="fa fa-check-square-o"></i> <b>Tip:</b>
<% elsif attr? :name, 'warning' %>
<div class="alert alert-danger" title="<%= @caption %>"><i class="fa fa-exclamation-circle"></i> <b>Warning:</b>
<% elsif attr? :name, 'important' %>
<div class="alert alert-warning" title="<%= @caption %>"><i class="fa fa-warning"></i> <b>Important:</b>
<% end %>
 <%= content %>
</div>
