<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="<%= ['admonitionblock',(attr :name),role].compact * ' ' %>">

<%
adMap = {
  "note" => { "alertClass" => "info", "calloutClass" => "info", "icon" => "info-circle", "text" => "Note:" },
  "tip" => { "alertClass" => "success", "calloutClass" => "success", "icon" => "check-square-o", "text" => "Tip:" },
  "caution" => { "alertClass" => "warning", "calloutClass" => "default", "icon" => "warning", "text" => "Caution:" },
  "warning" => { "alertClass" => "warning", "calloutClass" => "warning", "icon" => "warning", "text" => "Warning:" },
  "important" => { "alertClass" => "danger", "calloutClass" => "danger", "icon" => "exclamation-circle", "text" => "Important:" },
}
adMap.default = { "alertClass" => "info", "calloutClass" => "info", "icon" => "info-circle", "text" => "Default:" }

params = params = adMap[attr :name]

if role? 'callout'
%>
<div class="bs-callout bs-callout-<%= params["calloutClass"] %>" title="<%= @caption %>"><%= content %></div>
<% else %>
<div class="alert alert-<%= params["alertClass"] %>" title="<%= @caption %>">
  <i class="fa fa-<%= params["icon"] %>"></i> <b><%= params["text"] %></b> <%= content %>
</div>
<% end %>
</div>
